doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		//if lt IE 9
			script(src="http://html5shim.googlecode.com/svn/trunk/html5.js", language="text/javascript")
	body
